.medio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .imaGen {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px 10px 10px;
        border: 4px solid rgb(17, 77, 21);
        border-radius: 33px;
        width: 90%;
    }

    .imgProductos {
        border-radius: 1cm;
        border: 10px double rgb(155, 132, 2);
        height: 20vh; 
    }
    .imgProductos:hover{
        transform: translateX(150px) scale(3) ;
    }

    figcaption {
        font-size: large;
        @include aliceblue;
        padding: 0px 20px;
    }
}

.claseParaSubTitulos{
    
    letter-spacing: 4px;
    @include aliceblue;
    padding: 40px 10px 20px 10px;
}