.teXto {
    padding: 20px;

    h1 {
        text-align: center;
        letter-spacing: 7px;
        font-style: italic;
        @include aliceblue;
        padding: 10px;
        border: 2px solid rgb(19, 77, 21);
        margin: 40px 20px;
        border-radius: 33px;
        background-color: rgb(135, 143, 32);
    }

    p {
        @include aliceblue;
        padding: 20px 10px;

        a {
            text-decoration: none;
            @include aliceblue;
            &:hover {
                color: rgb(241, 238, 11);
            }
        }
    }
}

.serviLista {
    list-style: none;
    @include aliceblue;
}